.song {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.song-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-info p {
    margin: 5px 0;
}

.song-id .id,
.song-name .name,
.song-artists .artists,
.song-album .album {
    font-size: 16px;
    font-weight: bold;
}
