.toty {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.toty h2 {
  margin-top: 0;
}

.toty ul {
  list-style-type: none;
  padding: 0;
}

.toty li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.toty li:last-child {
  border-bottom: none;
}

.toty li:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}