.searchbar {
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px 20px;
  font-size: 16px;
}

.search-button {
  background-color: #cacaca;
  color: #000;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #b0b0b0;
}