header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

header h1 {
    padding-left: 10px;
}

.logo {
    width: 75px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.logo-name {
    cursor: pointer;
}

.searchbar-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
