<div class="blog">
    <div class="article">
        <h2>Article 001</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla urna nec orci ultricies, a faucibus risus sollicitudin. Nulla facilisi. Mauris vehicula hendrerit lacus, nec egestas felis porta in.</p>
        <a href="#">Read more...</a>
    </div>
    <div class="article">
        <h2>Article 002</h2>
        <p>Donec auctor nec augue eget auctor. Proin sollicitudin lorem sed nisl ullamcorper, vitae convallis libero lacinia. Nullam aliquam ipsum eget magna tempus placerat. Duis tristique pharetra orci, at luctus est lobortis non.</p>
        <a href="#">Read more...</a>
    </div>
</div>